*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu",sans-serif;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  ::selection{
    background-color: #48dbfb60;
  }
  
  ::-webkit-scrollbar{
    width: 10px;
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #353b48;
  }
  
  .navbar{
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
  }
  
  .inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
  }
  
  .navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    width: 60px;
    height: 40px;
    background-image: url(intro/logo1.png);
    background-size: contain;
  }
  
  .menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
  }
  
  .menu-toggler span{
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
  }
  
  .navbar-menu a{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
  }
  
  .navbar-menu a:hover{
    color: #48dbfb !important;
  }

  
  .container{
    position: absolute;
    top: 27px;
    right: calc(80% - 25px); 
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #switch {
    position: absolute;
    /* top: 0px;
    right: 0px; */
    width: 60px;
    height: 30px;
    border: 2px solid rgb(7, 53, 151);
    border-radius: 30px;
    cursor: pointer; 
  }

  body.dark #switch {
    position: absolute;
    /* top: 0px;
    right: 0px; */
    width: 60px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 30px;
    cursor: pointer; 
  }
  
  #switch::before,
  #switch::after {
    position: absolute;
    line-height: 26px;
    text-transform: uppercase;
    padding: 0 10px;
    cursor: initial;
    pointer-events: none;
    content: 'DarkMode';
    left: 100%;
  }
  
  body.dark #switch::before,
  #switch::after {
    content: none;
  }

  /* #switch::before {
    content: 'light';
    right: 100%;
  }
  
  #switch::after {
    content: 'dark';
    left: 100%;
  } */

  
  #switch .circle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(4, 35, 121);
    border-radius: 50%; 
    background-color: #d916eb;
    transition: all .3s cubic-bezier(.86, 1.51, .74, 1);
  }
  
  body.dark #switch .circle {
    background-color: transparent;
    border: 2px solid #fff;
    left: calc(100% - 23px);
    box-shadow: 6px -2px 0 0 #f0ce0f inset;
  }

  .sticky{
    background-color: #fff;
    padding: 18px 0;
  }
  
  .sticky .logo{
    background-image: url(intro/logo2.png);
  }
  
  .sticky .navbar-menu a{
    color: #111;
  }

  
body.dark .sticky{
  background-color: rgb(0, 0, 0);
  padding: 18px 0;
}

body.dark .sticky .navbar-menu a{
  color: rgb(255, 255, 255);
}

  .sticky .menu-toggler span{
    background-color: #111;
  }
  
  #home{
    height: 100vh;
    min-height: 500px;
    background: url(intro/background1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  }

  body.dark #home{
    height: 100vh;
    min-height: 500px;
    background: url(intro/background.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  #home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vh;
    text-align: center;
  }
  
  #home .content{
    width: 100%;
    color: rgba(44, 241, 255, 0.70);
  }
  
  #home .content h1{
    font-size: 100px;
    margin-bottom: 60px;
  }
  
  body.dark #home .content{
    width: 100%;
    color: rgba(255, 255, 255, 0.90);
  }
  
  body.dark #home .content h1{
    font-size: 100px;
    margin-bottom: 60px;
  }

  #home .content h1::after{
    content: "Zedd";
    animation: textanim 10s linear infinite;
  }
  
  @keyframes textanim{
    20%{
      content: "A Developer";
    }
    40%{
      content: "A Designer";
    }
    60%{
      content: "A Photographer";
    }
    80%{
      content: "A UofT Student";
    }
  }
  
  .lg{
    display: inline-flex;
  }

  .lg a{
    color:  #a2eeff;
    font-size: 27px;
    margin: 0 10px;
    transition: .2s linear;
  }
  
  body.dark .lg a{
    color: rgb(243, 199, 237);
    font-size: 27px;
    margin: 0 10px;
    transition: .2s linear;
  }

  .lg .lg1 a:hover{
    color: #000000;
  }
  .lg .lg2 a:hover{
    color: #f736bd;
  }
  .lg .lg3 a:hover{
    color: #ffc508;
  }
  .lg .lg4 a:hover{
    color: #4eff57;
  }
  .lg .lg5 a:hover{
    color: #0ebbff;
  }
  
  #home .buttons{
    margin-top: 80px;
  }
  
  #home .buttons a{
    display: inline-block;
    margin: 20px 40px;
    color: #48dbfb;
    font-size: 20px;
    font-weight: 500;
    width: 180px;
    border: 2px solid #48dbfb;
    padding: 14px 0px;
    border-radius: 6px;
    transition: .2s linear;
  }
  
  #home .buttons a:hover,
  #home .buttons a:nth-child(2)
  {
    background-color: #48dbfb;
    color: #fff;
  }
  
  body.dark #home .buttons a{
    display: inline-block;
    margin: 20px 40px;
    color: #d400ff;
    font-size: 20px;
    font-weight: 500;
    width: 180px;
    border: 2px solid #d400ff;
    padding: 14px 0px;
    border-radius: 6px;
    transition: .2s linear;
  }
  
  body.dark #home .buttons a:hover,
  body.dark #home .buttons a:nth-child(2)
  {
    background-color: #d400ff;
    color: #fff;
  }

  section{
    padding: 100px 0;
    background-color: #f1f1f1;
  }
  
  .section-title{
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
    color: #111;
  }
  
  body.dark section{
    padding: 100px 0;
    background-color: #450968;
  }
  
  body.dark .section-title{
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
  }

  .section-title::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #111;
    bottom: 0;
    left: calc(50% - 40px);
  }

  body.dark .section-title::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    left: calc(50% - 40px);
  }
  
  .section-title::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #48dbfb;
    border: 4px solid #f1f1f1;
    left: calc(50% - 12px);
    bottom: -7px;
  }
  
  
  
  body.dark .section-title::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #d400ff;
    border: 4px solid #f1f1f1;
    left: calc(50% - 12px);
    bottom: -7px;
  }

  .about-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .about-pic{
    width: 300px;
    border-radius: 10%;
    margin-right: 60px;
    left: 20%;
  }
  
  .about-text{
    flex: 1;
  }
  
  .about-text h2{
    color: rgb(53, 53, 53);
    font-size: 20px;
  }

  .about-text h3{
    margin: 15px 0;
    color: #4db9d2;
    font-size: 16px;
  }
  
  .about-text h3 span:nth-child(1):after,
  .about-text h3 span:nth-child(2):after{
    content: "";
    width: 6px;
    height: 6px;
    background-color: rgb(158, 158, 158);
    display: inline-block;
    border-radius: 50%;
    margin: 0 14px;
  }

  body.dark .about-text h3{
    margin: 10px 0;
    color: rgb(247, 206, 27);
    font-size: 16px;
  }
  
  body.dark .about-text h3 span:nth-child(1):after,
  .about-text h3 span:nth-child(2):after{
    content: "";
    width: 6px;
    height: 6px;
    background-color: rgb(158, 158, 158);
    display: inline-block;
    border-radius: 50%;
    margin: 0 14px;
  }



  
  .about-text p{
    font-size: 17px;
    text-align: justify;
    line-height: 26px;
    margin-top: 20px;
    color: #444;
  }

  body.dark .about-text p {
    color: rgb(197, 197, 197);
  }

  body.dark .about-text h2{
    color: #e5e2e2;
  }
  
  .myskills{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
.skillpart{
  display: flex;
  margin-top: 10px;
}

  .skill{
    width: calc(50% - 20px);
    margin: 15px 15px;
  }
  
  .skill-info{
    display: flex;
    justify-content: space-between;
  }

  body.dark .skill-info span{
    color: rgb(172, 172, 172);
  }
  
  .skill-bar{
    height: 3px;
    background-color: #ddd;
    margin-top: 14px;
    position: relative;
  }
  
  .skill-bar::after{
    content: "";
    position: absolute;
    height: 6px;
    background-color: #48dbfb;
    bottom: 0;
  }
  
  body.dark .skill-bar::after{
    content: "";
    position: absolute;
    height: 6px;
    background-color: rgb(247, 206, 27);
    bottom: 0;
  }


  .html:after{
    width: 90%;
  }
  
  .css:after{
    width: 80%;
  }
  
  .js:after{
    width: 70%;
  }
  
  .php:after{
    width: 60%;
  }
  
  .mysql:after{
    width: 90%;
  }
  
  .cs:after{
    width: 80%;
  }
  
  section.dark{
    background-color: #353b48;
  }
  
  section.dark .section-title{
    color: #f1f1f1;
  }
  
  section.dark .section-title::before{
    background-color: #f1f1f1;
  }
  
  section.dark .section-title::after{
    border: 4px solid #353b48;
  }



  body.dark section.dark{
    background-color: #000000;
  }
  
  body.dark section.dark .section-title{
    color: #d1d1d1;
  }
  
  body.dark section.dark .section-title::before{
    background-color: #d1d1d1;
  }
  
  body.dark section.dark .section-title::after{
    border: 4px solid #000000;
  }
  



  .services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  

  .service{
    width: calc(33% - 20px);
    text-align: center;
    border: 1px solid #48dbfb;
    border-radius: 6px;
    margin: 20px 0;
    padding: 40px 20px;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
  }
  
  .service .icon{
    color: #48dbfb;
    font-size: 40px;
    margin-bottom: 20px;
    transition: .3s linear;
  }
  
  .service h4{
    font-size: 16px;
    margin-bottom: 6px;
  }
  
  .service:hover{
    background-color: #48dbfb;
  }
  
  .service:hover .icon{
    color: #fff;
  }
  
  .time-line,.works{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }


  body.dark .service{
    width: calc(33% - 20px);
    text-align: center;
    border: 1px solid rgb(247, 206, 27);
    border-radius: 6px;
    margin: 20px 0;
    padding: 40px 20px;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
  }

  body.dark .service .icon{
    color: rgb(247, 206, 27);
    font-size: 40px;
    margin-bottom: 20px;
    transition: .3s linear;
  } 
  
  body.dark .service:hover{
    background-color: rgb(135, 4, 168);
  }
  


  .block{
    width: calc(50% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 30px;
    position: relative;
  }
  
  .block::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 120%;
    background-color: #ddd;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .block::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #48dbfb;
    left: -28px;
    top: 30px;
    border-radius: 50%;
  }
  
  .block h3{
    font-size: 16px;
    margin: 10px 0;
  }
  
  .block p{
    font-size: 15px;
    color: #444;
  }



  body.dark .block{
    width: calc(50% - 20px);
    background-color: rgb(192, 190, 190);
    border: 1px solid rgb(168, 168, 168);
    margin: 10px 0;
    padding: 30px;
    position: relative;
  }
  
  body.dark .block::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 120%;
    background-color: rgb(185, 185, 185);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  body.dark .block::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #e9bf07;
    left: -28px;
    top: 30px;
    border-radius: 50%;
  }
  
  body.dark .block p{
    font-size: 15px;
    color: rgb(31, 31, 31);
  }




  
  .work{
    width: calc(33% - 10px);
    overflow: hidden;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
  }
  
  .work img{
    width: 100%;
    height: 100%;
    transition: .3s linear;
  }
  
  .work::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #48dbfbcc;
    transition: .2s linear;
    opacity: 0;
    transform: scale(0);
  }

  body.dark .work::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #c506ccb4;
    transition: .2s linear;
    opacity: 0;
    transform: scale(0);
  }
  
  .work .info{
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 40px;
    color: #fff;
    transition: .3s linear;
    opacity: 0;
  }
  
  .work:hover img{
    transform: scale(1.3); /*rotate(25deg); */
  }

  body.dark .work:hover img{
    transform: scale(1.3); /*rotate(25deg); */
  }
  
  .work:hover::before,
  .work:hover .info
  {
    opacity: 1;
    transform: scale(1);
  }

  body.dark .work:hover::before,
  .work:hover .info
  {
    opacity: 1;
    transform: scale(1);
  }
  
  .contact-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
  
  .contact-info .item{
    width: calc(33% - 20px);
    height: 160px;
    background-color: #353b48;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s linear;
  }
  
  .contact-info i{
    display: block;
    font-size: 40px;
    line-height: 120px;
    height: 100px;
  }
  
  .contact-info .item:hover{
    background-color: #48dbfb;
  }

  body.dark .contact-info .item:hover{
    background-color: #e4be15;
  }
  
  .contact-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact-form input, .contact-form textarea{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    background-color: #353b48;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 4px;
    color: #fff;
  }
  
  .nameZone, .emailZone{
    max-width: calc(50% - 10px);
  }
  
  .messageZone{
    min-height: 200px;
    resize: vertical;
  }
  
  .contact-form .btn{
    width: 180px;
    background-color: transparent;
    color: #48dbfb;
    font-size: 16px;
    border: 2px solid #48dbfb;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    transition: .3s linear;
  }
  
  .contact-form .btn:hover{
    background-color: #48dbfb;
    color: #fff;
  }
  
  body.dark .contact-form .btn{
    width: 180px;
    background-color: transparent;
    color: #e4bc0c;
    font-size: 16px;
    border: 2px solid #e4bc0c;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    transition: .3s linear;
  }
  
  body.dark .contact-form .btn:hover{
    background-color: #e4bc0c;
    color: #fff;
  }



  footer{
    background: url(intro/background2.jpg) no-repeat center;
    color: #fff;
    padding: 80px 0px;
    text-align: center;
  }

  body.dark footer{
    background: url(intro/background.jpg) no-repeat center;
    color: #fff;
    padding: 80px 0px;
    text-align: center;
  }
  
  .copyright{
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .copyright a{
    font-size: 16px;
    color: #48dbfb;
    font-weight: 500;
  }

  body.dark .copyright a{
    font-size: 16px;
    color: #e40aa2;
    font-weight: 500;
  }
  
  .goTop{
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: #48dbfb;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    outline: none;
    display: none;
  }

  body.dark .goTop{
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: #fbcb48;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(201, 13, 154);
    outline: none;
    display: none;
  }

  
  @media screen and (max-width: 980px){
    .menu-toggler{
      display: block;
    }
  
    .navbar-menu{
      position: fixed;
      height: 100vh;
      width: 100%;
      background-color: #353b48;
      top: 0;
      right: -100%;
      max-width: 400px;
      padding: 80px 50px;
      transition: .3s linear;
    }
  
    .navbar-menu a{
      display: block;
      font-size: 30px;
      margin: 30px 0;
    }
  
    .sticky .navbar-menu{
      background-color: #f1f1f1;
    }
  
    .navbar-menu.active{
      right: 0;
    }
  
    .menu-toggler.active span:nth-child(1){
      transform: rotate(-45deg);
      top: 4px;
    }
  
    .menu-toggler.active span:nth-child(2){
      opacity: 0;
    }
  
    .menu-toggler.active span:nth-child(3){
      transform: rotate(45deg);
      bottom: 14px;
    }
  
    .inner-width{
      max-width: 800px;
    }
  
    .about-pic{
      margin: 0 auto 60px;
    }
  
    .about-text{
      flex: 100%;
      text-align: center;
    }
  
    .service{
      width: calc(50% - 20px);
    }
  
    .block{
      width: calc(100% - 20px);
      margin-left: auto;
    }
  
    .work{
      width: calc(50% - 10px);
    }
  
    .contact-info .item{
      width: 100%;
      margin: 10px 0;
    }
  }
  
  @media screen and (max-width: 600px){
    .inner-width{
      padding: 0 20px;
    }
  
    .skill{
      width: 100%;
    }
  
    .service{
      width: 100%;
    }
  
    .work{
      width: 100%;
    }
  
    .nameZone, .emailZone{
      max-width: 100%;
    }
  }

/* .container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#switch {
  position: absolute;
  width: 60px;
  height: 30px;
  border: 2px solid#333;
  border-radius: 30px;
  cursor: pointer; 
}

#switch::before,
#switch::after {
  position: absolute;
  line-height: 26px;
  text-transform: uppercase;
  padding: 0 20px;
  cursor: initial;
  pointer-events: none;
}

#switch::before {
  content: 'light';
  right: 100%;
}

#switch::after {
  content: 'dark';
  left: 100%;
}

#switch .circle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  border-radius: 50%; 
  box-shadow: inset 4px -2px 0 0 var(--color1);
}

#switch.switched .circle {
  left: calc(100% - 20px -3px);
  box-shadow: inset 4px -2px 0 0 var(--color4);
} */


.mytimeline {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #424949;
  background-color: #ECF0F1;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  position: relative;
}


.flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 100px;
  max-width: 1000px;
  position: relative;
  z-index: 0;
}

.input {
  width: 25px;
  height: 25px;
  background-color: #2C3E50;
  position: relative;
  border-radius: 50%;
}
.input:hover {
  cursor: pointer;
}
.input::before, .input::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2C3E50;
  width: 4vw;
  height: 5px;
  max-width: 50px;
}
.input::before {
  left: calc(-4vw + 12.5px);
}
.input::after {
  right: calc(-4vw + 12.5px);
}
.input.active {
  background-color: #2C3E50;
}
.input.active::before {
  background-color: #2C3E50;
}
.input.active::after {
  background-color: #AEB6BF;
}
.input.active span {
  font-weight: 700;
}
.input.active span::before {
  font-size: 13px;
}
.input.active span::after {
  font-size: 15px;
}
.input.active ~ .input, .input.active ~ .input::before, .input.active ~ .input::after {
  background-color: #AEB6BF;
}
.input span {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.input span::before, .input span::after {
  visibility: visible;
  position: absolute;
  left: 50%;
}
.input span::after {
  content: attr(data-year);
  top: 25px;
  transform: translateX(-50%);
  font-size: 14px;
}
.input span::before {
  content: attr(data-info);
  top: -65px;
  width: 70px;
  transform: translateX(-5px) rotateZ(-45deg);
  font-size: 12px;
  text-indent: -10px;
}

.description-flex-container {
  width: 80vw;
  font-weight: 400;
  font-size: 22px;
  margin-top: 100px;
  max-width: 1000px;
}
.description-flex-container p {
  margin-top: 0;
  display: none;
}
.description-flex-container p.active {
  display: block;
}

@media (min-width: 1250px) {
  .input::before {
    left: -37.5px;
  }

  .input::after {
    right: -37.5px;
  }
}
@media (max-width: 850px) {
  .input {
    width: 17px;
    height: 17px;
  }
  .input::before, .input::after {
    height: 3px;
  }
  .input::before {
    left: calc(-4vw + 8.5px);
  }
  .input::after {
    right: calc(-4vw + 8.5px);
  }
}
@media (max-width: 600px) {
  .flex-parent {
    justify-content: initial;
  }

  .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 15vh;
  }

  .input {
    width: 60px;
    height: 60px;
    margin: 0 10px 50px;
    background-color: #AEB6BF;
  }
  .input::before, .input::after {
    content: none;
  }
  .input span {
    width: 100%;
    height: 100%;
    display: block;
  }
  .input span::before {
    top: calc(100% + 5px);
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }
  .input span::after {
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ECF0F1;
  }

  .description-flex-container {
    margin-top: 30px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  body {
    min-height: 950px;
  }
}









/*轮播图*/
.hocontainer #abslideshow {
  width: 500px;
  height: 500px;
  border-radius: 0%;
  margin: 0 50px; /*设置在页面水平居中*/
  overflow: hidden;
  position: relative;
}
#abslideshow img {
  max-width: 500px;
  position: absolute; /*图片采取绝对定位，均位于左上角，重叠在一起*/
  top: 0;
  left: 0;
  opacity: 0; /*初始不透明度为0，图片都看不见*/
  transition: opacity 1s linear; /*--重点--定义一个关于透明度的transition*/
}
#abslideshow img.active {
  opacity: 1; /*有active类的图片不透明度为1，即显示图片*/
}
/*-- 设置页码的样式 --*/
#abslideshow div {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
}
#abslideshow span {
  display: inline-block;
  width: 25px;
  line-height: 25px; /*当只有一行文本时height等于line-height*/
  border-radius: 25px; /*设置页码为圆形*/
  margin: 0 15px;
  background: rgba(255, 255, 255, 0.305);
  font-size: 16px;
}
#abslideshow span.active {
  color: white;
  background: #48dbfb;
}
/*-- 设置图片描述文本的样式 --*/
#abslideshow p {
  position: absolute;
  top: 30px;
  left: -400px; /*相对于轮播图左侧左移400px*/
  line-height: 30px;
  padding: 5px 30px;
  font-size: 20px;
  color: white;
  background-color: rgba(
    100,
    100,
    100,
    0.6
  ); /*用rgba设置一个带透明度的背景颜色*/
  opacity: 0;
  transition: all 0.5s;
}
#abslideshow p.active {
  left: 0;
  opacity: 1;
}























.hocontainer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: var(--contrast-color);
}

.hocontainer {
  display: flex;
  height: 60vh;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  animation: expand 0.8s ease forwards;
  background-color: var(--secondary-color);
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: all 0.8s ease;
}

.hocontainer .container_content {
  width: 50%;
}

.hocontainer .container_content_inner {
  width: 80%;
  margin-left: 80px;
}

.hocontainer  .container_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}

.hocontainer .container_img {
  width: 100%;
  animation: slideIn 1.5s ease-in-out forwards;
}

.hocontainer  .par {
  height: auto;
  overflow: hidden;
}

.about-content p {
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp 0.8s ease-in-out forwards 0.8s;
}

.about-content .btns {
  height: 100%;
  position: relative;
  width: 150px;
  overflow: hidden;
}

.about-content .btns_more {
  background: transparent;
  border: 1px solid var(--contrast-color);
  border-radius: 50px;
  padding: 8px 12px;
  color: #bf307f;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;
  outline: none;
  transform: translateY(50px);
  animation: slideUp 0.8s ease-in-out forwards 1s;
}

.about-content .title {
  overflow: hidden;
  height: auto;
}

.about-content h1 {
  font-size: 40px;
  color: var(--contrast-color);
  margin-bottom: 20px;
  transform: translateY(100px);
  animation: slideUp 0.8s ease forwards 0.5s;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}


































































.slideshow {
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slideshow .slide.is-active {
  display: block;
}
.slideshow .slide.is-loaded {
  opacity: 1;
}
.slideshow .slide .caption {
  padding: 0 100px;
}
.slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}
.slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.slideshow .slide .image {
  width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow .slide .title {
  margin: 0 auto 15px;
  max-width: 1000px;
  font: 300 50px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.20em;
  /* text-transform: uppercase; */
}
.slideshow .slide .text {
  margin: 100px auto;
  max-width: 1000px;
  font-size: 18px;
  line-height: 1.4;
}

.slideshow .insvg {
  fill: rgba(245, 245, 245, 0.773);
  margin: 30px auto;
  height: 30px;
  width: 30px;
}


.slideshow .slide .btn {
  margin: 45px 0 45px;
  border-color: #fff;
}
.slideshow .slide .btn::before {
  background: #fff;
}
.slideshow .pagination {
  position: absolute;
  bottom: 65px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}
.slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}
.slideshow .pagination .item + .page {
  margin-left: -2px;
}
.slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease;
}
.slideshow .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
}
.slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before {
  background-color: #fff;
}
.slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}
.slideshow .arrows .prev {
  left: 30px;
}
.slideshow .arrows .prev:hover .svg {
  left: -10px;
}
.slideshow .arrows .next {
  right: 30px;
}
.slideshow .arrows .next:hover .svg {
  left: 10px;
}
.slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}



.bbtn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
}
.bbtn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}
.bbtn::after {
  transition: border 0.1s linear 0.05s;
}
.bbtn .bbtn-inner {
  position: relative;
  z-index: 2;
}
.bbtn:hover {
  color: #373737;
  transition: color 0.1s linear 0s;
}
.bbtn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}
.bbtn:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}























































.swrapper {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

.carousel {
  width: 90%;
  margin: 0px auto;
}
.slick-slide {
  margin: 10px;
}
.slick-slide img {
  width: 100%;
  border: 2px solid #fff;
}
.wrapper .slick-dots li button::before {
  font-size: 20px;
  color: rgb(214, 245, 255);
}


.wrapper .slick-dots li button:after {
  font-size: 20px;
  color: rgb(17, 199, 255);
}

































.bfwrapper {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0 1.5rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  color: #333;
}

.bfwrapper:before,
.bfwrapper:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.bfwrapper img {
  width: 100%;
  height: auto;
}

.bfwrapper .wrapper {
  max-width: 1000px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 10rem;
  margin-bottom: 0rem;
}

.bfwrapper .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 4rem;
}


.bfwrapper .card {
  max-width: 500px;
  width: 100%;
  height: 250px;
  position: relative;
  padding: 3rem 2rem;
  color: white;
  justify-self: center;
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.bfwrapper .card:hover {
  transform: scale(1.02);
}
.bfwrapper .card .card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}
.bfwrapper .card .card-content .bottom h2 {
  font-size: 1.6rem;
}
.bfwrapper .card .top {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.bfwrapper .card .top .name {
  font-size: 1rem;
}
.bfwrapper .card .top .date {
  font-weight: bold;
  opacity: 0.8;
}
.bfwrapper .card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bfwrapper .card .bottom .bookmark {
  margin-left: 5rem;
  border: 2px solid white;
  padding: 0.7rem;
  border-radius: 50%;
}
.bfwrapper .card .bottom .bookmark .bookmark-icn {
  fill: white;
}
.bfwrapper .card .bottom .bookmark:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}
.bfwrapper .card .card-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  overflow: hidden;
  z-index: -1;
}
.bfwrapper .card .card-bg .bg-img {
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.bfwrapper .card .shadow {
  position: absolute;
  width: 95%;
  height: 100%;
  overflow: hidden;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -15px;
  z-index: -2;
  border-radius: 25%;
  filter: blur(15px);
}
.bfwrapper .card .shadow .shadow-img {
  border-radius: 25%;
  margin-top: 3rem;
  object-fit: cover;
}