*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans",sans-serif;
}

body{
  min-height: 100vh;
  background: url(bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-page{
  width: 100%;
  max-width: 1400px;
  padding: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

h2{
  width: 100%;
  margin-top: -170px;
  margin-left: 50px;
  margin-bottom: 250px;
  text-transform: uppercase;
  color: rgb(59, 209, 255);
  font-size: 80px;
}

.contact-info, .contact-form{
  flex: 1;
}

.item{
  margin-bottom: 25px;
  margin-right: 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.icon{
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #ffb52c;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  margin-right: 15px;
}

.contact-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.textb{
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  background-color: rgb(25, 25, 25);
  border: none;
  color: #fff;
  margin-bottom: 20px;
}

textarea{
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  padding: 12px;
  background-color: rgb(26, 25, 25);
  border: none;
  color: #fff;
  margin-bottom: 20px;
}

.btn{
  width: 120px;
  height: 40px;
  margin-left: auto;
  background-color: #47a6f048;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #3494db;
  transition: .3s linear;
}

.btn:hover{
  background-color: #3494db;
  color: #ffffff;
}

@media screen and (max-width: 980px){
  .contact-page{
    max-width: 800px;
  }
  h2{
    font-size: 40px;
    margin-bottom: 40px;
  }

  .contact-info, .contact-form{
    flex: 100%;
    margin-bottom: 30px;
  }
  .textb{
    width: 100%;
  }
}